.circle-shadow {
    -webkit-box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, .5);
    margin-left: 8px;
}

.centered {
	text-align: center;
}

.nolink {
	color: #4c4c4c;
	font-size: 70px;
}

.nolink:hover {
	color: #4c4c4c;
	text-decoration: none;
}

.selectedEvent {
	background-color: #E6E6F5;
	border: 1px #C8C8DD;
}

tbody tr:hover td.hasRowSpan { 
    background-color: #E6E6F5;   /* or whatever color you want */
}

.verticalSpace {
	margin-top: 10px;
}

.verticalSpace2 {
	margin-top: 35px;
	color: #FFFFFF;
}

.verticalSpace3 {
	margin-top: 50px;
}

.vertical {
	padding-top: 10%;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

#sidebar.affix {
	width: inherit;
	position: fixed;
	top: 50px;
}

#sidebar.affix-bottom {
	width: inherit;
	position: absolute;
	top: auto;
	bottom: 100px;
}

#sidebar.affix-top {
	width: inherit;
	position: fixed;
}

body {
	padding-top: 50px;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

.customDropdown {
	width: 120px;
}

.dropdown-menu {
	min-width: 150px;
}

.datepicker {
	z-index: 1151;
}