.centered {
	text-align: center;
}

.selectedEvent {
	background-color: #E6E6F5;
	border: 1px #C8C8DD;
}

tbody tr:hover td.hasRowSpan { 
    background-color: #E6E6F5;   /* or whatever color you want */
}